:root {
}

// Contact infor
.infor {
    width: 100%;
    background-color: #f7e5e2;
    font-weight: 400;
    padding-left: 0.5rem;
}

.container-infor {
    display: flex;
    flex-wrap: wrap;
    padding: 0.5rem 3rem;
}

.infor-left {
    text-align: left;
    width: 100%;
    max-width: 50%;
}

.infor-right {
    text-align: right;
    width: 100%;
    max-width: 50%;
}

.social {
    color: #f9a392;
    font-weight: bold;
    text-decoration: none;
    background-color: transparent;
}

.social:hover {
    color: #f56649;
}

.center {
    display: inline-flex;
    align-items: center;
}

.px-2 {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.px-3 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.mr-2 {
    margin-right: 0.5rem;
}

// Navbar
.container-nav {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.navbar {
    display: flex;
    padding: 0 3rem;
    align-items: center;
    flex-direction: row;
}

.navbar-collapse {
    display: flex;
    flex-basis: auto;
    justify-content: space-between;
    padding: 0 1rem;
    flex-grow: 1;
    align-items: center;
}

.navbar-nav {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: auto;
}

.nav-link {
    padding: 30px 15px;
    font-weight: 600;
    letter-spacing: 1px;
    outline: none;
    list-style: none;
    text-decoration: none;
    color: #211e1c;
}

.nav-link-active {
    color: #f9a392;
}

.nav-link:hover,
.auth-user:hover {
    color: #f9a392;
}

.navbar-brand {
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
    text-decoration: none;
}

.text-dark {
    color: #211e1c;
}

.text-primary {
    color: #f9a392;
}

.auth-user {
    text-decoration: none;
    color: #211e1c;
    font-weight: 600;
}
